doctype html

html
  header
    title 
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js")
    script(src="/javascripts/script.js")

  body(ng-app='foodDiaryApp' ng-controller='FoodDiaryCtrl')

    block content
      .container
        .stats
          p#title Statistics
          table.table.table-striped
                thead
                  tr
                    th BMI
                    th Old Weight
                    th Weight Gained
                    th Current Weight
                tbody
                  tr.active
                    th(scope='row') {{bmi}}
                    td {{userData.weight}}
                    td {{weightGained}}
                    td {{currentWeight}}
        .diary
          p#title-food Food Diary
          p
            button.btn.btn-primary.btn-lg(type='button') Show User Form
          p#title User
          form(ng-submit='saveUser()')
            .user-form1
              .form-group
                label Name
                input#username.form-control(type='text', placeholder='Name', ng-model='user.name')
                label Age
                input#age.form-control(type='text', placeholder='Age', ng-model='user.age')
                label Gender
                  select.form-control(ng-model='user.gender')
                    option Male
                    option Female
                    option Other
            .user-form2
              .form-group
                label Weight
                input#username.form-control(type='text', placeholder='Weight', ng-model='user.weight')
                label Height
                input#age.form-control(type='text', placeholder='Height', ng-model='user.height')
                label Unit
                  select.form-control(ng-model='user.unit')
                    option inches
            button.btn.btn-primary.btn-lg(type='submit') Save User
        .food
          p#title Food
          form(ng-submit='saveFood()')
            .food-form
              .form-group
                label Description
                input#description.form-control(type='text', placeholder='Bacon & Eggs', ng-model='food.desc')
                label Meal
                  select.form-control(ng-model='food.meal')
                    option Breakfast
                    option Lunch
                    option Dinner
                br
                label Calories
                input#calories.form-control(type='text', placeholder='Calories', ng-model='food.calories')
                label Servings
                input#calories.form-control(type='text', placeholder='Servings', ng-model='food.servings')
            button.btn.btn-primary.btn-lg(type='submit') Save Food
        .items
          table.table.table-striped
            thead
              tr
                th Edit
                th Delete
                th Description
                th Meal
                th Calories
                th Servings
                th Date
            tbody
              tr(ng-repeat="food in foodList track by $index")
                td
                  button.btn.btn-danger(type='button', ng-click='editItem($index)') Edit
                td 
                  button.btn.btn-danger(type='button', ng-click='deleteItem($index)') Delete
                td {{food.desc}}
                td {{food.meal}}
                td {{food.calories}}
                td {{food.servings}}
                td {{food.date}}





