doctype html

html
  header
    title Something
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js")
    script(src="/javascripts/script.js")

  body(ng-app='foodDiaryApp' ng-controller='FoodDiaryCtrl')
    block content

    footer
      .footer Copyright 2015, who cares
